export TMPDOR=/tmp
PATH_add "$PWD/.direnv/bin"

if [[ -t 0 ]] || [[ -n "${REQUIRE_FLAKE:-}" ]]; then
  use flake
fi

export MILL_NO_SEPARATE_BSP_OUTPUT_DIR=1

# waveform trace for wavepeek debugging
export NZEA_TRACE_FST="$PWD/../remu/target/trace.fst"
