[submodule "ssrc/rocket-chip"]
	path = ssrc/rocket-chip
	url = git@github.com:TimeKeepper/rocket-chip.git
[submodule "ssrc/rvdecoderdb"]
	path = ssrc/rvdecoderdb
	url = git@github.com:chipsalliance/rvdecoderdb.git
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:TimeKeepper/nvboard.git
[submodule "ssrc/platform/NZ-jyd"]
	path = ssrc/platform/NZ-jyd
	url = git@github.com:TimeKeepper/NZ-jyd.git
[submodule "vsrc/ysyxsoc"]
	path = vsrc/ysyxsoc
	url = git@github.com:TimeKeepper/ysyxSoC.git
[submodule "yosys-sta"]
	path = yosys-sta
	url = git@github.com:OSCPU/yosys-sta.git
