# Vivado generated project directory
nzea_a7lite/

# Vivado generated logs/journals
vivado*.log
vivado*.jou
*.backup.jou
*.backup.log
*.str
*.xpr

# Bitstream / intermediate files
top.bit
top.dcp
*.dcp
*.bin
*.edif

# Reports
usage_statistics_webtalk.*
webtalk*.log